// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #010101;
$color-black-light: #333333;
$color-white: #fff;
$color-grey: #eeeeee;
$color-grey-light: #f0f0f0;
$color-grey-dark: #666666;
$color-blue: #0093d7;
$color-yellow: #ffc815;
$color-green: #a3cd3b;

// FONTS

$font-family-roboto: "Roboto", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

$spinkit-size: 4em !default;
$spinkit-spinner-color: $color-blue !default;
